<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="utf-8">
   <title>Author Analytics Result</title>
   <link rel="stylesheet" href="/css/style.css" />
   <script type="text/javascript" src="/js/author.js"></script>
</head>
<body>
  <table>
    <tr>
      <th>Article's Title</th>
      <th>Number of Revisions</th>
    </tr>
    <% if (locals.allResult.authorAnalytics) {for(var i=0; i < allResult.authorAnalytics.length; i++) { %>
    <tr>
      <td><%= allResult.authorAnalytics[i]._id %></td>
      <td><%= allResult.authorAnalytics[i].numbOfRev %></td>
    </tr>
    <% }} %>
  </table>

  <label>Check Revisions' Timestamps</label>
  <select id="selectAuthorArticle" name="authorarticle">
    <option>Choose an Article</option>
    <% for(var i = 0; i < allResult.authorAnalytics.length;i++){ %>
    <option value="<%=allResult.authorAnalytics[i]._id%>"><%=allResult.authorAnalytics[i]._id%></option>
    <% } %>
  </select>
  <input id="selectAuthorArticleSubmit" type="submit" value="Submit">

  <div id="timestampResult"></div>


</body>
</html>
