<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="utf-8">
   <title>Individual Article Bar Chart Result</title>
   <link rel="stylesheet" href="/css/style.css" />
   <script type="text/javascript" src="/js/visual.js"></script>
</head>
<body>
  <script type="text/javascript">
    var articleBarChartTop5 = <%- JSON.stringify(allResult.articleBarChartTop5) %>;
  </script>

<div id="articleBarChartTop5Sec"></div>

</body>
</html>
