doctype html

html(lang="en")
head
	title  Highest Number of Revision
body
  if (locals.allResult.mostNumRev) {
    for(var i=0; i < allResult.mostNumRev.length; i++) {
      allResult.mostNumRev[i]
    }
  }
